<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  Start for registerring...
  <form action="/register" method="POST">
    <input type="text" placeholder="First_Name" name="First_Name"><br>
    <input type="text" placeholder="Last_Name" name="Last_Name"><br>
    <input type="text" placeholder="Phone" name="Phone"><br>
    <input type="text" placeholder="Age" name="Age"><br>
    <input type="text" placeholder="Address" name="Address"><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>